<h1>Uploader</h1>

<ul id="files">
</ul>

<form action="https://s3.amazonaws.com/sayersr-demos-uploads/" method="post" enctype="multipart/form-data">
  <%= hidden_field_tag(:AWSAccessKeyId) %>
  <%= hidden_field_tag(:key, @upload.key) %>
  <%= hidden_field_tag(:acl, @upload.acl) %>
  <%= hidden_field_tag(:success_action_redirect, @upload.success_action_redirect) %>
  <%= hidden_field_tag(:policy, Base64.strict_encode64(@upload.policy_text)) %>
  <%= hidden_field_tag(:signature) %>
  <%= hidden_field_tag("x-amz-security-token") %>
  <input name="file" type="file">
  <input type="submit" value="Upload File to S3">
</form>

<script>
  <% if !session[:token].nil? %>
  var params = {
    RoleArn: 'arn:aws:iam::612895797421:role/ExtraTimeWebIdentity', /* required */
    RoleSessionName: 'RailsUser', /* required */
    WebIdentityToken: '<%= session[:token] %>', /* required */
    ProviderId: 'www.amazon.com'
  };
  var sts = new AWS.STS({apiVersion: '2011-06-15'});

    sts.assumeRoleWithWebIdentity(params, function(err, data) {
      if (err) console.log(err, err.stack); // an error occurred
      else {
        var akid = data.Credentials.AccessKeyId;
        var session = data.Credentials.SessionToken;
        var secret = data.Credentials.SecretAccessKey;

        $('input[name="AWSAccessKeyId"]').val(akid);
        $('input[name="x-amz-security-token"]').val(session);

        // yes someone could mess with the policy and sign it themselves
        // but the policy on the web federation role is very limited anyway
        var policy = $('#policy').val();
        $('input[name="signature"]').val(AWS.util.crypto.hmac(secret,policy,"base64","sha1"));

        var s3 = new AWS.S3({apiVersion: '2006-03-01', accessKeyId: akid, sessionToken: session, secretAccessKey: secret});

        var params = {
          Bucket: 'sayersr-demos-uploads', /* bucket shouldn't be hardcoded */
          Prefix: '<%= @upload.prefix %>'
        };
        s3.listObjects(params, function(err, data) {
          if (err) console.log(err, err.stack); // an error occurred
          else {
            console.log(data);
            $.each(data.Contents, function(k, v) {
              var name = v.Key.replace('<%= @upload.prefix %>', '')
              if (name!='') $('#files').append('<li>' + name + '</li>');
            });
          }
        });

      }
    });
  <% end %>
</script>
