<h1>Hello, Rails!</h1>

<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('<%= ENV['AMAZON_CLIENT_ID'] %>');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

<a href="#" id="LoginWithAmazon"><img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_drkgry_156x32.png"
    width="156" height="32" /></a>

<a href="https://www.amazon.com/ap/oa/?client_id=<%= ENV['AMAZON_CLIENT_ID'] %>&scope=profile&response_type=code&redirect_uri=<%= callback_url(:provider => "amazon") %>">Non Javascript login</a>

<%
  s = "http://169.254.169.254/latest/meta-data/instance-id"
  uri = URI.parse(s)
  request = Net::HTTP::Get.new(uri.request_uri)
  #response = Net::HTTP.new(uri.host, uri.port).request(request)
  begin
    response = Net::HTTP.start(uri.host, uri.port) {|http|
      http.read_timeout = 1
      http.open_timeout = 1
      http.request(request)
    }
    concat("[#{response.body}]")
  rescue Net::ReadTimeout => e
    concat("[no metadata here]")
  end
%>
<p></p>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">AccessKeyId</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="AccessKeyId">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Expiration</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="Expiration">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">SecretAccessKey</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="SecretAccessKey">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">SessionToken</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="SessionToken">
    </div>
  </div>
</form>

<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile', response_type : 'code' };
    // http://stackoverflow.com/questions/9346695/what-is-the-link-to-path-to-a-non-resourceful-route
    amazon.Login.authorize(options, '<%= callback_url(:provider => "amazon") %>');
    return false;
  };

  var params = {
    RoleArn: 'arn:aws:iam::612895797421:role/ExtraTimeWebIdentity', /* required */
    RoleSessionName: 'RailsUser', /* required */
    WebIdentityToken: '<%= session[:token] %>', /* required */
    ProviderId: 'www.amazon.com'
  };
  var sts = new AWS.STS({apiVersion: '2011-06-15'});

<% if !session[:token].nil? %>
  sts.assumeRoleWithWebIdentity(params, function(err, data) {
    if (err) console.log(err, err.stack); // an error occurred
    else {
      $('input[name="AccessKeyId"]').val(data.Credentials.AccessKeyId);
      $('input[name="Expiration"]').val(data.Credentials.Expiration);
      $('input[name="SecretAccessKey"]').val(data.Credentials.SecretAccessKey);
      $('input[name="SessionToken"]').val(data.Credentials.SessionToken);
    }
  });
<% end %>
</script>
