<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= nav_bar :static => :top, brand: "Demo Portal", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home", welcome_index_path %>
        <%= menu_item "Upload", upload_index_path %>

    <% end %>
    <%= menu_group :pull => :right do %>
        <% !if session[:user_id].nil?  %>
            <%= menu_item "Log Out", sessions_logout_path %>
            <%= menu_item session[:user_id] , "#" %>
        <% end %>
    <% end %>
<% end %>

<div class="container theme-showcase" role="main">
<%= bootstrap_flash %>

<%= yield %>

</div>

</body>
</html>
